<h1>Topics list</h1>

<table>
    <thead>
      <td>#</td>
      <td>title</td>
      <td>content</td>
    </thead>
  <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.id %></td>
      <td><%= link_to(topic.title, [@board, topic]) %></td>
      <td><%= topic.content %></td>
    </tr>
  <% end %>
</table>
