<h1>Topics list</h1>
<table>
    <thead>
      <td>#</td>
      <td>title</td>
      <td>content</td>
    </thead>
  <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.id %></td>
      <td><%= link_to(render_topic_title(topic), [@board, topic]) %></td>
      <td><%= render_topic_content(topic) %></td>
    </tr>
  <% end %>
</table>
