
<article>
  <header><%= @topic.title %></header>
  <p><%= @topic.content %></p>
</article>

<%= link_to("edit", edit_board_topic_path(@board, @topic)) %>
<%= link_to("Delete", board_topic_path(@board, @topic), :method => :delete, :confirm => "You sure?") %>


