
<article>
  <header><%= @topic.title %></header>
  <p><%= @topic.content %></p>
</article>

<% if current_user && @topic.editable_by?(current_user) %>
  <%= link_to("edit", edit_board_topic_path(@board, @topic)) %>
  <%= link_to("Delete", board_topic_path(@board, @topic), :method => :delete, :confirm => "You sure?") %>
<% end %>

