
  <table class="table">
    <thead>
      <td>#</td>
      <td>Topic Name</td>
      <td>Description</td>
      <td>瀏覽量</td>
    </thead>
  <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.id %></td>
      <td><%= link_to(topic.title, board_topic_path(@board, topic)) %></td>
      <td><%= topic.content %></td>
      <td><%= topic.views_count %></td>
    </tr>
  <% end %>
  </table>  