<h1>Boards list</h1>

<div class="panel panel-default">
  <div class="panel-heading">Boards</div>
  <table class="table">
    <thead>
      <td>#</td>
      <td>Board Name</td>
      <td>Description</td>
    </thead>
  <% @boards.each do |board| %>
    <tr>
      <td><%= render_board_id(board) %></td>
      <td><%= link_to(render_board_name(board), board_path(board)) %></td>
      <td><%= render_board_desc(board) %></td>
    </tr>
  <% end %>
  </table>  
</div>

