
<div class="page-header">
  <h1><%= @board.name %></h1>
  <p><%= @board.description %></p>
</div>





<h2>Topics   <%= link_to("+New Topic", new_account_board_topic_path(@board), :class => "btn btn-mini btn-success" ) %></h2>
<div class="panel panel-default">
  <div class="list-group">
    <%= render "topic_list" %>
  </div>
</div>
